<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html>
<head>
<meta charset="UTF-8">
<title>Jason系统首页</title>
<link rel="stylesheet" type="text/css" href="static/ext-4.2.1.883/resources/ext-theme-neptune/ext-theme-neptune-all.css" />

<!-- <link rel="stylesheet" type="text/css" href="static/ext-4.2.1.883/resources/ext-theme-classic/ext-theme-classic-all.css" /> -->

<!-- <link rel="stylesheet" type="text/css" href="static/ext-4.2.1.883/resources/css/ext-all.css" /> -->
<!-- GC -->

<script type="text/javascript" src="static/ext-4.2.1.883/ext-all.js"></script>
<script language="javascript" src="view/system/js/index.js"></script>

<script language="javascript" src="view/common/commonUnit.js"></script>


</head>
<body>
	<input type="hidden" id="nick_name_w"
		value="&nbsp;&nbsp;欢迎您：${session.NICKNAME!''}&nbsp;&nbsp;&nbsp;&nbsp;账号：${session.UNAME!''}">
	<div align="center" id="index"></div>
</body>
</html>